h1, h5 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.header {
  background-color: royalblue;
}

.form-control {
  width: 300px;
}

.button {
  background-color: transparent;
  border: none;
}

#inline {
 display: inline;
 margin: 5px 0 30px 0;
 align-items: center;
}

#inline-button {
  margin-top: -5px;
}
