body {
  background-color: lightblue;
}

h2 {
  text-align: center;
  color: white;
}

.header {
  background-color: blue;
}


.form-control {
  width: 300px;
}

.button {
  background-color: transparent;
  border: none;
}

#inline {
 display: inline;
 margin: 20px auto;
 align-items: center;
}

#inline-button {
  margin-top: -5px;
}